/*EXTERNAL STYLING*/
/*
	CSS RULES:
	selector{
		property:value;
	}

*/
/*TYPE SELECTOR use 'h1-6*/
h1 {
    /*	the use of '!important' is to prioritize the code */
	color:green !important;
	text-align:center;
	font-size: 2rem;
}

/* UNIVERSAL SELECTOR use '*' */
*{
	font-family:"Courier New", monospace;
	font-size: 20px;
}
/*ID SELECTOR use '#' */
#zuitt-motto {
    /*Letter spacing propert changes the spaces 
    in between characters of a text	*/
    letter-spacing: 5px;
}

/*CLASS SELECTOR use '.' */
.offering-item {
	/*text-trabsform property 
	changes font to a certain case	*/
	text-transform: uppercase;
}

/*ATTRIBUTE SELECTOR use '[]' */
[required] {
	/* border-width = thickness of the border	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
h3 {
	letter-spacing: 25px;

}

/*SELECTOR COMBINATORS*/
/*Adjacent Sibling*/
/*#zuitt-motto + img{*/
h3 + img {
	height:200px;
	width: 200px
	border-radius: 100px;
}

/*CHILD SELECTOR*/
body > section > #bootcamp-learning-list > li {
	color: burlywood;
}

/*GENERAL SIBLING SELECTOR*/
/*h2 is point reference, it was 'a' */
h2 ~ a {
	text-decoration: none;
}

/*DESCENDANT SELECTOR use 'space' */
#register label {
/*	For landing & Register */
	color: rgb(0, 0, 128);
}

body {
	background-color: darkslategrey;
}
html {
	scroll-behavior:smooth;
}
nav {
	background-color:white;
}

a:hover {
	background-color:#b4d6de;
}

div{
	display:inline-block;
	float: right;
}
section{
	height: 100vh;
	text-align: center;
}
h2 {
	font-size: 1.5 rem;

}
ol {
	list-style-type: none;
}

h2 + form{
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;
}
button {
	background-color: #cf0053;
	color:white;
	border: 0;
	border-radius: 15px;
}