/* #4 EXTERNAL STYLING */
.external {
      color: yellow;
}

/*#6 UNIVERSAL STYLING*/
*{
  font-family:"Arial", monospace;
  font-size: 15px;
}

/*#7 TYPE SELECTOR*/
h1 {
  font-size: 2rem;
}

/*#8 ID SELECTOR*/
#number8 {
  text-transform: uppercase;
}

/*#9 CLASS SELECTORS*/
.fornine {
  background-color: forestgreen;
  
}

/*#10 ATTRIBUTE SELECTORS*/
[type] {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  
}
/*#11 ADJACENT SIBLING SELECTOR*/
img + ul {
  list-style-type: none;
}
/* #12 DESCENDANT SELECTOR */
section img {
  max-width: 7%;
  border-radius: 50%;
}

/*#14 CHILD SELECTOR*/
ul > li {
  letter-spacing: 5px;
}

/* #13 GENERIC SILBLING SELECTOR */
ul ~ p {
  text-align: center;
}